@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  width: 700px;
  max-width: 80%;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

h1.title {
  font-size: 40px;
  font-family: 'Elms Sans';
  font-weight: 800;
  letter-spacing: -2px;
  color: white;
  font-style: oblique;
}

.tasks-container{
  width: 100%;
}