body {
  margin: 0;
  padding: 0;

  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100dvh;
  min-width: 100dvw;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}